.scrollable-section {
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

#section1{
    background-color: aliceblue;
}
#section2{
    background-color: antiquewhite;
}
#section3{
    background-color: aqua;
}
#section4{
    background-color: aquamarine;
}